<div class="px-10">
  <h1 class="text-3xl font-bold">About</h1>
  <p class="mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit cumque, qui eveniet ipsam
    dignissimos
    perferendis error ullam quos autem, quaerat laboriosam. Temporibus cupiditate, suscipit doloremque reiciendis
    asperiores ipsa repellendus rerum?</p>
  <span highlight>okoko</span>
  <p>Numero de clientes atendidos: <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0" />
  </p>
</div>